
<br> <br>
                                    
                                
                               <br><br>
                           <b>Step: 1</b> <a href="https://wa.me/?text=*Hey%20check%20out%20this%20WhatsApp%20status*%0A%0AIts%20where%20i%20watch%20the%20most%20interesting%20things%20from%20my%20status,%20Hope%20you%20join%20and%20enjoy%20the%20best%20contents%20🥳%0A%0A_No%20one%20joins%20and%20gets%20bored_%20😌❤️%0A%0AClick%20Link%20WatsApp.tv
" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-mobile"></i> <i class="fa fa-bullhorn" aria-hidden="true"></i> : Invite Your Friends</strong></button></a> 
                          <p> We will be grateful if you can help spread the word to your friends/family! by sending this invitation to 5 contacts. We have a pre written note for them on your behalf. Please click on the button above to share it with 5 contacts :) then Exit WhatsApp, Return here, Go to step 2 
                             
                          <br>

                          <br>
                
                        
               
                        <b>Step: 2</b> <a href="https://www.watsapp.tv/watsapptv.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-android"></i><i class="fa fa-apple"></i> : DNLD, Open & Save</strong></button></a>
                               <br>
                           

                            
                          <p>Click on the button above and download Our WatsApptv.Virtual Contact File, You'll See 3 Numbers Inside, save them to your mobile phone it will allow you to start seeing our status on the next post.
                          <p>Restrict us from viewing your status (very important) Why? WhatsApp will hangs our status and it will take forever to upload to our status<br><br>

                            <b>How:</b><br>
                          &nbsp;&nbsp;&nbsp;<b>¹:</b> Go to WhatsApp.<br>
                          &nbsp;&nbsp;&nbsp;<b>²:</b> Find status privacy.<br>
                          &nbsp;&nbsp;&nbsp;<b>³:</b> Click on 'My contacts except...'<br>
                          &nbsp;&nbsp;&nbsp;<b>⁴:</b> Search For 'WatsApp'<br> 
                          &nbsp;&nbsp;&nbsp;<b>⁵:</b> Select all 3 contacts under our name.<br>
                          
                        

<br><br>
                          <b>Note:</b> If you cant see our status within 2 hours from now, that mean you miss some of the information on the form when you where signing up
                            <br><br>
                          
                        </div>
                    </div>
                </div>
           
