
<br> <br>
                                    
                                
                               <br><br>
                
      
               
                        <b>Step: 1</b> <a href="https://watsapptv.github.io/Open%20&%20Save%20Contact.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-android"></i><i class="fa fa-apple"></i> : DNLD, Open & Save</strong></button></a>
                               <br><br>
                           


                          <p>Once You have click the button above and download and save contact.
                          <p>Restrict us from viewing your status (very important) Why? To avoid your account being on timeout<br><br>

  How: go to WhatsApp<br>
                          &nbsp;&nbsp;&nbsp;<b>¹:</b> Find status privacy.<br>
                          &nbsp;&nbsp;&nbsp;<b>²:</b> Click on 'My contacts except...<br>
                          &nbsp;&nbsp;&nbsp;<b>³:</b> Search For 'WatsApp TV'<br> 
                          &nbsp;&nbsp;&nbsp;<b>⁴:</b> Select all contacts under our name
                        

<br><br>
                          <b>Note:</b> If your status is visible, Your Account Will be on 168hrs timeout
                            <br><br>
                          <b>Step: 2</b> <a href="/signup/" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-mobile"></i> <i class="fa fa-address-book-o"></i> : Add to phonebook</strong></button></a>
                             
                        </div>
                    </div>
                </div>
           
