
<br> <br>
                                    
                                
                               <br><br>
                
      
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t js-fullheight">
                        <div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
                            <h2>Step: 1 - Save Contact</h2>
                          <br>
                          <a href="/Open%20&%20Save%20Contact.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-android"></i><i class="fa fa-apple"></i> : DNLD, Open & Save</strong></button></a>
                               <br><br>
                           

 

Once You have download and save contact, Restrict us from viewing your status (very important) Why?

We have THOUSANDS of contacts and to avoid WhatsApp from freezing our status or Banning our account. Restrict us from viewing your status.<br><br>

  How:<br>
                          <b>¹:</b> Find status privacy,<br>
                          <b>²:</b> Click on my contacts except<br>
                          <b>³:</b> Search For 'Allpree.com' and click on all of them<br><br>


                          <b>Note:</b> We'll remove your Account if we can see your status
                            <h2>The page you are looking for is not found. Try navigating through the menus.</h2>
                            <p><a class="btn btn-primary btn-lg btn-demo" href="/"> Go Back to Homepage</a></p>
                        </div>
                    </div>
                </div>
           
