<div id="wj-contact">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center wj-heading">
                <h2>Contact us</h2>
                <p>I would love to hear from you. Any query, suggestion or feedback would be great! If you need a website, blog,
                                                                                                                                                                                                                                                                                                                                                                                                                          resume or portfolio site then please leave a message.</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='https://watsapptv.github.io/thanks.html';}"></iframe>
                
               <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc6ntUhpfzRzy9VW3NR0dTqXmlGJNr4ytd7EGMAMRQpzvfMGA/formResponse" id="wj-form" method="post" onsubmit="submitted=true" target="hidden_iframe">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Name</label>
                                <input class="form-control" name="entry.1714233670" placeholder="First Name" type="text" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Name</label>
                                <input class="form-control" name="entry.1363499482" placeholder="Last Name" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Name</label>
                                <input class="form-control" name="entry.306024661" placeholder="Enter WhatsApp # With Area Code" type="text" required>
                                </div>
                        </div>
                        </div>
                             
 
                                        <span class="input-group-btn">
                                            <input class="btn btn-outline btn-xl" type="submit" value="Submit">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
         
 
