<div id="wj-contact">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center wj-heading">
                <br><br><br><br>
                <br> 
                                     <b>Step: 1</b> 
                                      <a href="https://api.whatsapp.com/send/?text=*WatsApp%20TV*%0A_Share%20LOL-Worthy%20Moments%20Through%20Status_%20check%20it%20out:%20watsapp.tv%20" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-whatsapp"></i> <i class="fa fa-bullhorn"></i> : Invite 5 Friends</strong></button></a>
                               <br> <br>
                                     <b> Step: 2</b> 
                                <a href="https://watsapptv.github.io/Click%20&%20Save%20Contact.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>Download, Open & Save On <i class="fa fa-android"></i><i class="fa fa-apple"></i></strong></button></a>
                               
                               <br><br>
                <p>I would love to hear from you. Any query, suggestion or feedback would be great! If you need a website, blog,
                                                                                                                                                                                                                                                                                                                                                                                                                          resume or portfolio site then please leave a message.</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='https://watsapptv.github.io/thanks.html';}"></iframe>
                
               <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc6ntUhpfzRzy9VW3NR0dTqXmlGJNr4ytd7EGMAMRQpzvfMGA/formResponse" id="wj-form" method="post" onsubmit="submitted=true" target="hidden_iframe">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Birth Year</label>
                                <input class="form-control" name="entry.396059357_sentinel" placeholder="Enter Birth Year Here" type="text" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Email Address</label>
                                <input class="form-control" name="emailAddress" placeholder="Enter Email Address Here" type="text" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>First Name</label>
                                <input class="form-control" name="entry.1714233670" placeholder="Enter First Name Here" type="text" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Last Name</label>
                                <input class="form-control" name="entry.1363499482" placeholder="Enter Last Name Here" type="text" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>WhatsApp Number </label>
                                <input class="form-control" name="entry.306024661" placeholder="Enter WA# With Area Code" type="text" required>
                                </div>
                        </div>
                        </div>
                             
 
                                        <span class="input-group-btn">
                                            <input class="btn btn-outline btn-xl" type="submit" value="Submit">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
         
 
