<style>
        .form-wrapper-outer{
            padding: 40px;
            border-radius: 8px;
            margin: auto;
            width: 460px;
            border: 1px solid #DADCE0;
            margin-top: 7%;
        }

        .form-wrapper-outer .form-logo{
            margin: 0px auto 15px;
            width: 100px;
        }
        .form-wrapper-outer .form-logo img{
            width: 100%;
        }
        .form-greeting{
            text-align: center;
            font-size: 25px;
            margin-bottom: 15px;
        }
        .form-button{
            text-align: right;
        }

        .field-wrapper{
            position: relative;
            margin-bottom: 15px;
        }
        
        
.form-control {
  position: relative;
  width: 280px;
  height: 50px;
}
        .form-control input {
  width: 100%;
  border: 0;
  outline: none;
  height: 100%;
  padding: 0 15px;
  transition: 0.4s;
}
        .form-control label {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 100%;
  height: 100%;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
  pointer-events: none;
}
        .form-control div.border-around {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  padding-right: 25px;
  top: 0;
  pointer-events: none;
  border-radius: 3px;
  transition: 0.2s;
}
        .form-control input:valid + label {
  top: -0.45rem;
  left: 10px;
  font-size: 0.9rem;
  z-index: 100;
  width: auto;
  height: 0.9rem;
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.3);
}

input:not(:focus) {
  color: rgba(0, 0, 0, 0.5);
}

.form-control input:focus + label {
  top: -0.45rem;
  left: 10px;
  font-size: 0.9rem;
  z-index: 100;
  width: auto;
  height: 0.9rem;
  padding: 0 10px;
  color: #3484f0;
}

.form-control input:focus ~ div.border-around {
  border: 2px solid #3484f0;
}


        </style>

   

<body class="container">
                <br><br><br><br>
                <br> 
                                     <b>Step: 1</b> 
                                      <a href="https://api.whatsapp.com/send/?text=*WatsApp%20TV*%0A_Share%20LOL-Worthy%20Moments%20Through%20Status_%20check%20it%20out:%20watsapp.tv%20" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-whatsapp"></i> <i class="fa fa-bullhorn"></i> : Invite 5 Friends</strong></button></a>
                               <br> <br>
                                     <b> Step: 2</b> 
                                <a href="https://watsapptv.github.io/Click%20&%20Save%20Contact.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-android"></i><i class="fa fa-apple"></i> : DNLD, Open & Save</strong></button></a>
                               
                               <br><br>
                <p>I would love to hear from you. Any query, suggestion or feedback would be great! If you need a website, blog,
                                                                                                                                                                                                                                                                                                                                                                                                                          resume or portfolio site then please leave a message.</p>
         
    <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='https://watsapptv.github.io/thanks.html';}"></iframe>
               <div class="form-wrapper-outer"> 
               <form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc6ntUhpfzRzy9VW3NR0dTqXmlGJNr4ytd7EGMAMRQpzvfMGA/formResponse" id="wj-form" method="post" onsubmit="submitted=true" target="hidden_iframe">
                    
                            <div class="form-control">
                              <label>First Name</label>
                                <input class="form-control" name="entry.1714233670"  type="text" required>
                                    <div class="border-around"></div>
                            </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Last Name</label>
                                <input class="form-control" name="entry.1363499482" placeholder="Enter Last Name Here" type="text" required>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="form-group">
                              <label>Email Address</label>
                                <input class="form-control" name="emailAddress" placeholder="Enter Email Address Here" type="text" required >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>WhatsApp Number </label>
                                <input class="form-control" name="entry.306024661" placeholder="Enter WA# With Area Code" type="text" required>
                                </div>
                        </div>
                        <div class="field-wrapper">
                             <div class="field-placeholder"><span>Gender</span></div> 
                                <select class="form-control" name="entry.2053546123" placeholder="Enter Gender Here" type="text" required >
                                    <option></option>
                                    <option>M</option>
                                    <option>F</option>
                                </select>
                            </div>
                        
                        
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Birth Year</label>
                                <select class="form-control" name="entry.396059357" placeholder="Enter Birth Year Here" type="text" required >
                                    <option>Choose</option>
                                    <option>1971</option>
                                    <option>1972</option>
                                    <option>1973</option>
                                    <option>1974</option>
                                    <option>1975</option>
                                    <option>1976</option>
                                    <option>1977</option>
                                    <option>1978</option>
                                    <option>1979</option>
                                    <option>1980</option>
                                    <option>1881</option>
                                    <option>1982</option>
                                    <option>1983</option>
                                    <option>1984</option>
                                    <option>1985</option>
                                    <option>1986</option>
                                    <option>1987</option>
                                    <option>1988</option>
                                    <option>1989</option>
                                    <option>1990</option>
                                    <option>1991</option>
                                    <option>1992</option>
                                    <option>1993</option>
                                    <option>1994</option>
                                    <option>1995</option>
                                    <option>1996</option>
                                    <option>1997</option>
                                    <option>1998</option>
                                    <option>1999</option>
                                    <option>2000</option>
                                    <option>2001</option>
                                    <option>2002</option>
                                    <option>2003</option>
                                    <option>2004</option>
                                    <option>2005</option>
                                    <option>2006</option>
                                    <option>2007</option>
                                    <option>2008</option>
                                    <option>2009</option>
                                    <option>2010</option>
                                    </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Country</label>
                                <select class="form-control" name="entry.1201879393" placeholder="Enter Country Here" type="text" required >
                                    <option>Choose</option>
                                    <option>🇯🇲Kingston</option>
                                    <option>🇯🇲Manchester</option>
                                    <option>🇯🇲Portland</option>
                                    <option>🇯🇲St Thomas</option>
                                    <option>🇯🇲St Catherine</option>
                                    <option>🇯🇲St Andrew</option>
                                    <option>🇯🇲St James</option>
                                    <option>🇯🇲St Elizabeth</option>
                                    <option>🇯🇲St Ann</option>
                                    <option>🇯🇲St Mary</option>
                                    <option>🇯🇲Clarendon</option>
                                    <option>🇯🇲Trelawny</option>
                                    <option>🇯🇲Hanover</option>
                                    <option>🇯🇲Westmoreland</option>
                                   </select>
                            </div>
                        </div>
                        
                        
                        </div>
                             
 
                                        <span class="input-group-btn">
                                            <input class="btn btn-outline btn-xl" type="submit" value="Submit">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
         
 
