<header> 
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                           <h1><strong>WatsApp TV</strong></h1>
                           <p style=""><strong>Share LOL-Worthy Moments Through Status</strong></p>
                        
                         <div class="home-exp">
                                <h1>Work, Home or School</h1>
                                <h2>Discover entertaining Statuses that aim to cast away boredom right within your status feed</h2>
                                <br><br>
                                  
                                <a href="https://api.whatsapp.com/send/?text=*WatsApp%20TV*%0A_Share%20LOL-Worthy%20Moments%20Through%20Status_%20check%20it%20out:%20watsapp.tv%20" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>Step 1: Invite All Friends</strong></button></a>
                               <br> <br>
                                <a href="https://watsapptv.github.io/Click%20&%20Save%20Contact.vcf" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong><i class="fa fa-apple"></i> <i class="fa fa-android"></i> Step 2: Click Open & Save Contact</strong></button></a>
                               <br><br>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeXj3Leg-f41Q971ec9YJeA-gSzJKboU3CewO_VzaBe7XRsBQ/viewform" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>Step 3: Add Your WAContact</strong></button></a>
                               <br>
                            </div>
                        </div>
                            </div>
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
</header>

