<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<header> 
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                     <h1><strong>DID YOU KNOW</strong></h1> 
                     <p style=""><strong>Businesses will pay you to post on your <i class="fa fa-whatsapp"></i> status</strong></p>
                        
                         <div class="home-exp">
                                <h1>Turn <i class="fa fa-whatsapp"></i> Status Into A Side Business</h1>
                                <h2>Choose your @username, Pick a niche, Grow your audience, Share motivational quotes, entertaining clips, funny memes or breaking news that capture worthy moments.</h2>
                                <h3>Let us monetize your audience you’ll get 55% of the shout-outs revenue generated per view that will be paid monthly.</h3>
                             
                                    
                                   
                                     
                                     
                            </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
</header>

