<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<header> 
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                     <h1><strong>Partner With Us</strong></h1> 
                     <p style=""><strong>Start A <i class="fa fa-whatsapp"></i> TV and Make Money From WhatsApp</strong></p>
                        
                         <div class="home-exp">
                            
                                <h2>Pick a niche, Grow your audience, Share behind the scenes footage, motivational quotes, entertaining clips, funny memes or breaking news.</h2>
                                <h3>Let us monetize your audience and you keep 55% of the revenue generated that will be paid monthly.</h3>
                             
                                    
                                   
                                     
                                     
                            </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
</header>

