<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                     <h1><strong>Welcome To</strong></h1> 
                     <p style=""><strong>The <i class="fa fa-whatsapp"></i> TV Directory With Amazing Statuses To Follow</strong></p>
                        
                         <div class="home-exp">
                                <h1>Work, Home or School</h1>
                                <h2>Search for <i class="fa fa-whatsapp"></i> TV you can follow that share behind the scenes footage, motivational quotes, entertaining clips, funny memes or breaking news that capture worthy moments.</h2>
                                
                             <br>
                               
                           <a href="/search/" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>Click Here To Start <i class="fa fa-search" aria-hidden="true"></strong></button></i></a>          
                                     
                            </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
