<header> 
	
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                                
    <!--  <a href="/"><i class="fa-solid fa-sack-dollar"></i>&nbsp;Earn Passive Income</a>&nbsp;&nbsp; -->
   <div style="text-align: right"><a href="/"><i class="fa-solid fa-bullhorn"></i>&nbsp;Promote</a>  </div>
                               <div class="home-exp">
                                 <p style=""><strong> <i class="fa-brands fa-whatsapp fa-5x"></i> </strong></p>
                             <h2>2,000+ Already Join</h2>
				       <h3>Why Are You The Only Person Not On The Biggest WhatsApp Channel?</h3>
                                <h4>The Only Place Where All The Most Interesting Post On WhatsApp Come From, Join & Enjoy The Best Contents</h4>
                            <br>
                                           <H4>Have A Referral Code? </4>
                              <a href="/join" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">No</button></a>    <a href="/code" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">Yes</button></a>
                               
                            <br> <br>
				    
                                  
                                  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
