
<header> 
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                               
                               <div class="home-exp">
                                 <p style=""><strong> <i class="fa fa-whatsapp fa-5x"></i></strong></p>
                             <h2>Simple. Secure. <br>Reliable status updates</h2>
                                <h3>With WatsApp TV, You'll Get Breaking News, Memes, Quotes, Viral Clips and Deals Without Leaving WhatsApp.</h4>
                            
                                           <H4> Do You Have Invitation Code? </4>
                                 <h6><b>Note:</b> Click the Verification button below and send us the generated message to verified your whatsapp number.</h6>

                            <br>
                              <a href="" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">No</button></a>    <a href="" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">Yes</button></a>     
                            <br><br>
                                  
                                  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
