<header> 
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-left">
                               
                               <div class="home-exp">
                                 <p style=""><strong> <i class="fa fa-whatsapp fa-5x"></i></strong></p>
                             <h2>Simple. Reliable. <br>WhatsApp Status Updates</h2>
                                <h3>We Talking About Funny😜Memes, Motivation👴Quotes, Viral🤪Clips, Relationship💑Advice, Breaking📰News & Upto 90% Off Local🛍️Deals Without Leaving WhatsApp.</h4>
                            <br>
                                           <H4>Have A Referral Code? </4>
                              <a href="/join" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">No</button></a>    <a href="/code" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">Yes</button></a>
                               
                            <br> <br>
                                  
                                  
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-right">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
