<input type="checkbox" id="hamburger" name="hamburger">
<label id="label-ham" for="hamburger"></label>
<div class="menu-container">
  <div class="menu"></div>
  <div class="links">
      <a href="/"><i class="fa fa-home"></i>&nbsp;Home</a>
      <a href="/about/"><i class="fa fa-user"></i>&nbsp;About</a> 
      <a href="/archive/"><i class="fa fa-archive"></i>&nbsp;Archive</a>
      <a href="/creators/"><i class="fa fa-cogs"></i>&nbsp;Creators</a>
      <a href="/business/"><i class="fa fa-bullhorn"></i>&nbsp;Business</a>
      <a href="/p/"><i class="fa fa-code-fork"></i>&nbsp;Project</a> 
  </div>
</div>
