
<input type="checkbox" id="hamburger" name="hamburger">

<label id="label-ham" for="hamburger"></label>

<div class="menu-container">
	
  <div class="menu"></div>
   
  <div class="links">
      <a href="/"><i class="fa-brands fa-home"></i>&nbsp;Home</a>
   <!-- <a href="/"><i class="fa-brands fa-user"></i>&nbsp;About</a>  -->
      <a href="/partner"><i class="fa-brands fa-handshake-o"></i>&nbsp;Partner</a>
    <!-- <a href="/"><i class="fa-brands fa-bullhorn"></i>&nbsp;Business</a>  -->
       
  </div>
</div>
