<a href="https://tiktok.com/@joinwatsapp"><i class="fa-brands fa-tiktok fa-2x"></i></a>
				    <a href="https://twitter.com/{{site.twitter.username}}"><i class="fa-brands fa-twitter fa-2x"></i></a>
				    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="fa-brands fa-facebook fa-2x"></i></a>
				    <a href="https://instagram.com/joinwatsapp"><i class="fa-brands fa-instagram fa-2x"></i></a>
				    <a href="https://www.snapchat.com/add/joinwatsapp"><i class="fa-brands fa-snapchat fa-2x"></i></a>
<input type="checkbox" id="hamburger" name="hamburger">
<a href="https://tiktok.com/@joinwatsapp"><i class="fa-brands fa-tiktok fa-2x"></i></a>
				    <a href="https://twitter.com/{{site.twitter.username}}"><i class="fa-brands fa-twitter fa-2x"></i></a>
				    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="fa-brands fa-facebook fa-2x"></i></a>
				    <a href="https://instagram.com/joinwatsapp"><i class="fa-brands fa-instagram fa-2x"></i></a>
				    <a href="https://www.snapchat.com/add/joinwatsapp"><i class="fa-brands fa-snapchat fa-2x"></i></a>
<label id="label-ham" for="hamburger"></label>
<a href="https://tiktok.com/@joinwatsapp"><i class="fa-brands fa-tiktok fa-2x"></i></a>
				    <a href="https://twitter.com/{{site.twitter.username}}"><i class="fa-brands fa-twitter fa-2x"></i></a>
				    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="fa-brands fa-facebook fa-2x"></i></a>
				    <a href="https://instagram.com/joinwatsapp"><i class="fa-brands fa-instagram fa-2x"></i></a>
				    <a href="https://www.snapchat.com/add/joinwatsapp"><i class="fa-brands fa-snapchat fa-2x"></i></a>
<div class="menu-container">
	<a href="https://tiktok.com/@joinwatsapp"><i class="fa-brands fa-tiktok fa-2x"></i></a>
				    <a href="https://twitter.com/{{site.twitter.username}}"><i class="fa-brands fa-twitter fa-2x"></i></a>
				    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="fa-brands fa-facebook fa-2x"></i></a>
				    <a href="https://instagram.com/joinwatsapp"><i class="fa-brands fa-instagram fa-2x"></i></a>
				    <a href="https://www.snapchat.com/add/joinwatsapp"><i class="fa-brands fa-snapchat fa-2x"></i></a>
  <div class="menu"></div>
   
  <div class="links">
      <a href="/"><i class="fa fa-home"></i>&nbsp;Home</a>
   <!-- <a href="/"><i class="fa fa-user"></i>&nbsp;About</a>  -->
      <a href="/partner"><i class="fa fa-handshake-o"></i>&nbsp;Partner</a>
    <!-- <a href="/"><i class="fa fa-bullhorn"></i>&nbsp;Business</a>  -->
       
  </div>
</div>
