<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}} - {{ page.title }}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <!--   Syntax highlighting is only needed for posts -->
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/syntax-highlighter.css">
  {% endif %}
  <link href="//fonts.googleapis.com/css?family=Space+Mono|Work+Sans:700" rel="stylesheet">

</head>
<body>

<input type="checkbox" id="hamburger" name="hamburger">
<label id="label-ham" for="hamburger"></label>
<div class="menu-container">
  <div class="menu"></div>
  <div class="links">
      <a href="{{site.baseurl}}/"><i class="fa fa-home"></i>&nbsp;Home</a>
      <a href="{{site.baseurl}}/about/"><i class="fa fa-user"></i>&nbsp;About</a> 
      <a href="{{site.baseurl}}/archive/"><i class="fa fa-archive"></i>&nbsp;Archive</a>
      <a href="{{site.baseurl}}/creators/"><i class="fa fa-cogs"></i>&nbsp;Creators</a>
      <a href="{{site.baseurl}}/business/"><i class="fa fa-bullhorn"></i>&nbsp;Business</a>
      <a href="{{site.baseurl}}/p/"><i class="fa fa-code-fork"></i>&nbsp;Project</a> 
  </div>
</div>
<div class="content">
<header>
        <div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                           <h1><strong>Kesh </strong></h1>
                           <p style=""><strong>Ce FRC<sup>®</sup> Trainer</strong></p>
                        
                         <div class="home-exp">
                                <h1>Stuck bedesk?</h1>
                                <h2>Reverse the damage being done to you.</h2>
                                <br>
                                <br>
                                <a href="#signup" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><strong>CONTACT ME FOR A FREE ASSESSMENT</strong></button></a>
                            </div>
                        </div>
                   
                    
                    
                </div>
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont"></div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </header>
{{ content }}
  
    <footer>
      <div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy;&nbsp;<script>document.write(new Date().getFullYear());</script>&nbsp;Allpree Group Holding Ltd. All Rights Reserved. This project is not endorsed by, affiliated to, or sponsored by WhatsApp Inc. and their products in any way. We just use the WhatsApp platform to share good content.</small>
						<!-- <small>GSTN: 29EVLPS9250Q1Z8</small> -->

				    </p>


						
							    <a href="https://twitter.com/{{site.twitter.username}}"><i class="fa fa-twitter-square"></i></a>
							
							    <a href="https://facebook.com/{{site.facebook.publisher}}"><i class="fa fa-facebook-square"></i></a>
							
							    <a href="https://instagram.com/{{site.instagram.username}}"><i class="fa fa-instagram"></i></a>
							
							<a href="{{site.youtube}}"><i class="fa fa-youtube-square"></i></a>
						

				</div>
			</div>
		</div>
      
  </footer>
</div>
  <!-- Calling Fontawesome at the end to avoid delay in loading --> 
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% include analytics.html %}
</body>
</html>
