---
layout: default
---


<br><br>
<center><a class="back-to-home" href="/"><img src="{{ site.url }}/img/{{ page.image }}" alt="{{ site.title }}" width="92" height="81"></a></center>
        <div class="post-title">
    {% if page.icon %}
    <div class="logo">
        
            <i class="fa fa-{{page.icon}}"></i>
        
    </div>
    {% endif %}
    <div class="title">
        <h2>Add {{page.title}} <i class="fa fa-whatsapp"></i> Status</h2>
        
        <span>
            <time datetime="">
                   {{ page.date | date: '%B %d, %Y' }}
            </time>
        </span>
        
    </div>
</div>
        
       
  


{{content}}
